@charset "UTF-8";

			*{margin: 0; padding: 0;}

			/* 큰 틀 */
			#container{ margin: 120px auto; }
			
			#reservation_table { border-collapse:collapse;
								width:1000px;
								text-align:center;
								table-layout:fixed;
								box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
								}
								
			#reservation_table {border: 1px solid black;}
			
			#reservation_table tr{ height: 50px; }
								
			#reservation_table th { 
			border-top: 1px solid black; 
			border-left: 1px solid gray; 
			background-color: #D8D8D8;
			}
								   
			#reservation_table td { border: 1px solid gray; 
			}
			
			input[type="button"]{
		    	padding: 5px;
		    	transition: all 0.3s ease;
		    }
		    
		    input[type="button"]:hover{
		    	color: red;
		    }
					
					
					
					
					
					
					
					